@*
 * Copyright (C) 2023 Crypter File Transfer
 * 
 * This file is part of the Crypter file transfer project.
 * 
 * Crypter is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Crypter source code is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * You can be released from the requirements of the aforementioned license
 * by purchasing a commercial license. Buying such a license is mandatory
 * as soon as you develop commercial activities involving the Crypter source
 * code without disclosing the source code of your own applications.
 * 
 * Contact the current copyright holder to discuss commercial license options.
 *@

@page "/about"

<PageTitle>Crypter - About</PageTitle>

<div class="container my-4">
    <h1>About</h1>
    <p>
        Crypter.dev is a free, open-source web application that makes end-to-end encryption easy and approachable.
        No sign-up required.
    </p>

    <h2>How does it work?</h2>
    <p>
        Crypter uses libsodium to encrypt every message and file before uploading them to the Crypter cloud server.
        There are only two ways to download the encrypted content again. The first way is to be given a shareable link.
        The second way is to login to a Crypter account, in order to access items which have been sent directly to that account.
        All your secrets are encrypted and decrypted right in the browser.

        Encrypted uploads are deleted from the Crypter cloud server after they are downloaded, or after 24 hours. Whichever comes first.
    </p>

    <h2>How can I trust this is real?</h2>
    <p>
        Trust is a tricky thing. All I can do is reiterate that Crypter is 100% open-source. Everything from the web client to the database schema are hosted publicly on GitHub.
        I encourage everyone to review and scutinize the code.
    </p>

    <h2>Why did you make this?</h2>
    <p>
        One day, I was trying to share a video clip with a friend. We were in the same room, but could not agree on how to actually get this video from my phone to her phone. We tried transferring
        the file over bluetooth, but that failed. We thought about using Dropbox, but her storage was full. I had an Android phone so I could not AirDrop it to her iPhone. The file was too large for email.
        <a href="https://file.pizza/" target="_blank">FilePizza</a> used to work great, but stopped working some time ago.
    </p>
    <p>
        The only option left was for me to upload the file to Google Drive and share it with "Anyone with the link".
    </p>
    <p>
        This drove me nuts. How are people okay with sharing their files with everyone who just happens to find the link? Not to mention all of the information that we <i>don't</i>
        want to share is uploaded un-encrypted!
    </p>
    <p>
        That is the story behind why I felt compelled to make a web application that makes end-to-end encryption as easy and approachable as possible.
    </p>

    <h2>How is this funded?</h2>
    <p>
        Mostly out of my own pocket. Check out the Ko-fi link in the site footer if you are interested in helping out.
    </p>

    <p>
        I hope to one day offer a paid, end-to-end encrypted cloud storage service.
    </p>

    <br/>
    <p>Well, I think that's it for now. Have a nice day!</p>

</div>

@code {

}
