@page "/about"

@inject IJSRuntime JsRuntime;

<div class="container my-4">
    <h1>About</h1>
    <p>
        We are a small team of dedicated developers who just want to make end-to-end encryption and data transfer easy and approachable.
    </p>
    <p>
        No need to sign up for an account.
        No need to provide any personally identifiable information.
    </p>
    <p>
        And no need to manage your own cryptographic keys or secrets.
    </p>
    <p>
        Simply upload your data and share the decryption details that we provide with whoever you need to.
    </p>
    <p>
        Uploads are deleted immediately after download.  Uploads that never get downloaded are deleted after 24 hours.
    </p>
    <h3>Privacy</h3>
    <p>
        Privacy begins with anonymity.
        That is not a stance many services take, but we take it very seriously.
    </p>
    <p>
        Crypter does not use cookies nor does it collect device information.
        Users are not tracked whatsoever.
    </p>
    <p>
        Visitors will always be able to transfer files without signing up for an account.
    </p>
    <h3>Security</h3>
    <p>
        Crypter uses modern cryptography to encrypt and decrypt right in the browser.
    </p>
    <p>
        The only person who possesses the key to decrypt something you have uploaded is <b>you</b>!
    </p>
    <p>
        It is up to <b>you</b> to share the decryption key with your intended recipient.
    </p>
    <h3>Simplicity</h3>
    <p>
        Anything can be encrypted and sent to someone else just by using the Crypter homepage.
    </p>
    <p>
        Try it out!
    </p>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await JsRuntime.InvokeVoidAsync("Crypter.SetPageTitle", "Crypter - About");
    }
}