@*
 * Copyright (C) 2023 Crypter File Transfer
 * 
 * This file is part of the Crypter file transfer project.
 * 
 * Crypter is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Crypter source code is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * You can be released from the requirements of the aforementioned license
 * by purchasing a commercial license. Buying such a license is mandatory
 * as soon as you develop commercial activities involving the Crypter source
 * code without disclosing the source code of your own applications.
 * 
 * Contact the current copyright holder to discuss commercial license options.
 *@

@page "/acceptable-use-policy"

<PageTitle>Crypter - Acceptable Use Policy</PageTitle>

<div class="container my-4">
    <h1>Acceptable Use Policy</h1>
    <h3>Effective date</h3>
    <p>April 26, 2021</p>
    <h3>Purpose</h3>
    <p>This Acceptable Use Policy ("AUP") defines a set of guidelines that all end-users of the Crypter service must adhere to in order to preserve the integrity and availability of the Crypter service.  Crypter is a public service with limited resources.  The Crypter team asks that all end-users maintain a level of etiquette, defined below, out of respect for the Crypter team and for other end-users.  This policy is subject to change.</p>
    <h3>Scope</h3>
    <p>This policy applies to the Crypter web application, the Crypter public API, the resources hosting these services, and all content uploaded using the Crypter service.</p>
    <h3>Policy</h3>
    <p>End-users should keep in mind the purpose of the Crypter service is to transfer messages and files.  Crypter is not intended for long-term storage.  End-users acknowledge their uploaded content may be periodically deleted without prompt or warning.  The Crypter team advises all end-users to keep an offline copy of their content in the event a message or file is deleted prior to being decrypted and downloaded by the intended recipient.</p>

    <p>End-users agree to adhere to all applicable laws of their respective country and applicable laws of the USA.  In addition, end-users agree not to:</p>
    <ul>
        <li>Upload messages or files ("content") they do not own or otherwise have permission to share.</li>
        <li>Upload content that is illegal for either the sender or recipient to possess.  Including, but not limited to illegal pornography, state secrets, trade secrets, and copyrighted material</li>
        <li>Intentionally perform any act that would make Crypter unavailable to other users.  Such actions include, but are not limited to, uploading an excessive amount of content and making an excessive amount of web requests</li>
        <li>Upload malicious content.  Including, but not limited to, malware, viruses, executable code, and content which provokes violence against any individual person or group or people.</li>
        <li>Attempt to download or decrypt content which has not been shared with them.</li>
    </ul>
    <h3>Sanctions</h3>
    <p>Failure to adhere to this policy may result in a permanent ban of an offender's IP address.</p>
    <h3>Disclaimer</h3>
    <p>The Crypter team will make reasonable efforts to keep the Crypter service running.  However, end-users must accept that the Crypter service may experience outages and failures from time to time.  End-users waive all rights to seek damages from the Crypter team or any of its providers in the event the Crypter service experiences an outage or failure.</p>
</div>

@code {

}