@page "/account-details"

@inject HttpClient HttpClient
@inject AppSettings AppSettings
@inject NavigationManager NavManager
@inject IJSRuntime JsRuntime
@inject IAuthenticationService AuthenticationService

<div class="container">
    <button type="button" class="btn btn-secondary float-end" @onclick="OnEditClicked" hidden="@IsEditing">Edit</button>
    <h1>Account Details</h1>
    <form id="DetailsForm">
        <h2>User Details for @Username</h2>
        <div class="mb-3">
            <label for="emailFormControl" class="form-label">Email</label>
            <input @bind="Email" type="email" class="form-control" id="emailFormControl" placeholder="jsmith@email.com" readonly>
        </div>
        <h2>Public Details</h2>
        <div class="mb-3">
            <label for="aliasFormControl" class="form-label">Public Alias</label>
            <input @bind="PublicAlias" type="text" class="form-control" id="aliasFormControl" placeholder="Set Public Alias" readonly>
        </div>
        <div class="mb-3">
            <div class="form-check form-switch">
                <label class="form-check-label" for="appearPublicly">Appear publicly</label>
                <input @bind="AppearPublicly" class="form-check-input" type="checkbox" id="appearPublicly" disabled>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-check form-switch">
                <label class="form-check-label" for="acceptAnonymousMessages">Accept messages from anonymous users</label>
                <input @bind="AcceptAnonymousMessages" class="form-check-input" type="checkbox" id="acceptAnonymousMessages" disabled>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-check form-switch">
                <label class="form-check-label" for="acceptAnonymousFiles">Accept files from anonymous users</label>
                <input @bind="AcceptAnonymousFiles" class="form-check-input" type="checkbox" id="acceptAnonymousFiles" disabled>
            </div>
        </div>
        <h2>Keys</h2>
        <div class="mb-3">
            <label for="privateKey" class="form-label">Private key</label>
            <textarea @bind="PrivateKey" class="form-control" id="privateKey" disabled />
        </div>
        <div class="mb-3">
            <label for="publicKey" class="form-label">Public key</label>
            <textarea @bind="PublicKey" class="form-control" id="publicKey" disabled />
        </div>
        @if (IsEditing)
        {
            <button type="button" class="btn btn-primary mx-auto" @onclick="OnSaveClicked">Save</button>
        }
    </form>
    <BasicModal @ref="Modal" @bind-Subject="ModalSubject" @bind-Message="ModalMessage" @bind-PrimaryButtonText="ModalPrimaryButtonText" @bind-SecondaryButtonText="ModalSecondaryButtonText" ModalClosed="@ModalClosedHandler"/>
</div>

@code {
    private bool IsEditing = false;
    private string Username;
    private string Email;
    private string Password;
    private string PublicAlias;
    private bool AppearPublicly;
    private bool AcceptAnonymousMessages;
    private bool AcceptAnonymousFiles;
    private bool IsAuthenticated = false;
    private string PrivateKey;
    private string PublicKey;

    private string ModalSubject;
    private string ModalMessage;
    private string ModalPrimaryButtonText;
    private string ModalSecondaryButtonText;

    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationService.User == null)
        {
            NavManager.NavigateTo("login");
        }

        await JsRuntime.InvokeVoidAsync("setTitle", "Crypter - Account Details");
        await GetUserInfo();

        if (PrivateKey == null)
        {
            PromptUserToCreateKeyPair();
        }
    }

    public async Task OnEditClicked()
    {
        await JsRuntime.InvokeVoidAsync("EditAccountDetails");
        IsEditing = true;
    }

    public async Task OnSaveClicked()
    {
        await JsRuntime.InvokeVoidAsync("SaveAccountDetails");

        // Insert PATCH calls to API

        IsEditing = false;
    }

    public async Task CreateUserKeyPair()
    {
        var keyPair = await Task.Run(() => CryptoLib.Common.GenerateAsymmetricKeys(CryptoStrength.Standard));
        PrivateKey = keyPair.Private.ConvertToPEM();
        PublicKey = keyPair.Public.ConvertToPEM();
    }

    private async Task GetUserInfo()
    {
        var userAccountInfo = await DownloadUserInfo();
        Username = userAccountInfo.UserName;
        Email = userAccountInfo.Email;
        PublicAlias = userAccountInfo.PublicAlias;
        AppearPublicly = userAccountInfo.IsPublic;
        AcceptAnonymousFiles = userAccountInfo.AllowAnonFiles;
        AcceptAnonymousMessages = userAccountInfo.AllowAnonMessages;
    }

    public async Task<RegisteredUserInfoResponse> DownloadUserInfo()
    {
        var url = $"{AppSettings.ApiBaseUrl}/user/getuser";
        var id = AuthenticationService.User.Id;
        var token = AuthenticationService.User.Token;

        var requestBody = new RegisteredUserInfoRequest(id);
        using var response = await HttpClient.PostAsJsonAsync(url, requestBody);

        if (!response.IsSuccessStatusCode)
        {
            // Error handling
        }

        var content = await response.Content.ReadAsStringAsync();
        return JsonConvert.DeserializeObject<RegisteredUserInfoResponse>(content);
    }

    private void PromptUserToCreateKeyPair()
    {
        ModalSubject = "Generate your keys";
        ModalMessage = "To finish creating your Crypter account, you need to generate a private/public key-pair." +
                "\nThis usually takes a while and your browser may stop responding, so please be patient.";
        ModalPrimaryButtonText = "Generate key-pair";
        ModalSecondaryButtonText = "Not now";
        Modal.Open();
    }

    private async Task ModalClosedHandler(bool affirmativeExit)
    {
        if (affirmativeExit)
        {
            await CreateUserKeyPair();
        }
    }

    private Crypter.Web.Shared.BasicModal Modal { get; set; }
}
