@page "/decrypt/message/{transferId:guid}"

@inherits DecryptMessageBase

@if (!Loading)
{
   if (ItemFound)
   {
      <div class="container my-4">
         <h1>Decrypt Message</h1>
         <DownloadMessageTransfer @bind-TransferId="TransferId" @bind-Subject="Subject" @bind-Created="Created" @bind-Expiration="Expiration" @bind-Size="Size"
                                @bind-SenderId="SenderId" @bind-SenderUsername="SenderUsername" @bind-SenderAlias="SenderAlias" @bind-RecipientId="RecipientId" @bind-SenderX25519PublicKey="X25519PublicKey"></DownloadMessageTransfer>
      </div>
   }
   else
   {
      <ItemNotFoundComponent></ItemNotFoundComponent>
   }
}
