@page "/decrypt/file/{transferId:guid}"

@inherits DecryptFileBase

@if (!Loading)
{
   if (ItemFound)
   {
      <div class="container my-4">
         <h1>Decrypt File</h1>
         <DownloadFileTransfer @bind-TransferId="TransferId" @bind-FileName="FileName" @bind-ContentType="ContentType" @bind-Created="Created" @bind-Expiration="Expiration" @bind-Size="Size"
                             @bind-SenderId="SenderId" @bind-SenderUsername="SenderUsername" @bind-SenderAlias="SenderAlias" @bind-RecipientId="RecipientId" @bind-SenderX25519PublicKey="X25519PublicKey"></DownloadFileTransfer>
      </div>
   }
   else
   {
      <ItemNotFoundComponent></ItemNotFoundComponent>
   }
}
