@page "/decrypt/{DataFormat}/{guid}"

<NavMenu />
<h2>Decrypt your @DataFormat</h2>
<DecryptDetails @bind-DataFormat="DataFormat" @bind-Created="creationDate" @bind-Expiration="expirationDate" @bind-Size="fileSize"></DecryptDetails>

@code {

    string creationDate = DateTime.Now.ToString("MM/dd/yyyy");
    string expirationDate = "Never";
    int fileSize = 0;

    [Parameter]
    public string DataFormat { get; set; }

    [Parameter]
    public string guid { get; set; }
}
