@page "/donate"

@inject IJSRuntime JsRuntime;

<div class="container my-4">
    <h1>Donate</h1>
    <p>The Crypter team is not accepting gifts or donations at this time.</p>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await JsRuntime.InvokeVoidAsync("setTitle", "Crypter - Donate");
    }
}