@page "/donate"

@inject IJSRuntime JsRuntime;

<div class="container my-4">
    <h1>Donate</h1>
    <a href="https://www.patreon.com/crypter">Crypter is on Patreon!</a>
    <p>Patreon allows you to provide us with a monthly tip to help keep Crypter running.</p>
    <p>With enough support, the team can continue working to make Crypter the best end-to-end encryption service on the internet.</p>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await JsRuntime.InvokeVoidAsync("Crypter.SetPageTitle", "Crypter - Donate");
    }
}