@*
 * Copyright (C) 2023 Crypter File Transfer
 *
 * This file is part of the Crypter file transfer project.
 *
 * Crypter is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * The Crypter source code is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * You can be released from the requirements of the aforementioned license
 * by purchasing a commercial license. Buying such a license is mandatory
 * as soon as you develop commercial activities involving the Crypter source
 * code without disclosing the source code of your own applications.
 *
 * Contact the current copyright holder to discuss commercial license options.
 *@

@page "/forgot-password"

<PageTitle>Crypter - Forgot Password</PageTitle>

<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            @if (Success)
            {
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Success!</h4>
                    <p>A recovery email will be sent to the provided email address if it exists and has been verified.</p>
                    <hr>
                    <p>Please check your spam folder.</p>
                </div>
            }
            else
            {
                <form @onsubmit:preventDefault @onsubmit="SubmitAsync">
                    <div class="mb-3">
                        <label for="emailAddressFormControl" class="form-label">Email Address</label>
                        <input @bind="EmailAddress" class="form-control @EmailAddressInvalidClassPlaceholder" id="emailAddressFormControl"/>
                        <div class="invalid-feedback">@ErrorMessage</div>
                    </div>

                    <button type="submit" class="btn btn-primary">Send recovery email</button>
                </form>
            }
        </div>
    </div>
</div>
