@page "/help"

@inject IJSRuntime JsRuntime;

<div class="container my-4">
    <h1>Help</h1>
    <p>Having trouble or need to ask a question?  Contact Jack!</p>
    <p>Email: jackedwards@protonmail.com</p>
    <p>Twitter: <a class="p-0 lh-lg" href="https://twitter.com/Jack_E_Edwards">Jack's Twitter profile</a></p>
    <h3>FAQ</h3>
    <ul>
        <li>Ask a question, we'll post the answer here!</li>
    </ul>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await JsRuntime.InvokeVoidAsync("setTitle", "Crypter - Help");
    }
}