@page "/"

@inject HttpClient HttpClient
@inject AppSettings AppSettings
@inject IJSRuntime JsRuntime

<div class="container text-center">
    <h1 class="title">Crypter.dev</h1>
    <h2>Private, encrypted file transfer and messaging</h2>
    <div class="container" id="encrypt">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="file-tab" data-bs-toggle="tab" data-bs-target="#file" type="button" role="tab" aria-controls="file" aria-selected="true">Encrypt a file</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="message-tab" data-bs-toggle="tab" data-bs-target="#message" type="button" role="tab" aria-controls="message" aria-selected="false">Encrypt a message</button>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="file" role="tabpanel" aria-labelledby="file-tab">
                        <h2 class="card-title mt-0">Upload a file</h2>
                        <FileUpload />
                    </div>
                    <div class="tab-pane fade" id="message" role="tabpanel" aria-labelledby="message-tab">
                        <h2 class="card-title mt-0">Type a message</h2>
                        <MessageUpload />
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: @(ServerSpacePercentage + '%')" aria-valuenow="@ServerSpacePercentage" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h6 class="card-subtitle mt-2 text-muted">@AvailableServerSpace bytes remaining</h6>
            </div>
        </div>
    </div>
</div>

@code
{
    public bool ServerHasDiskSpace = false;
    public long AllocatedServerSpace = 0;
    public long AvailableServerSpace = 0;
    public string ServerSpacePercentage = "0";

    protected override async Task OnInitializedAsync()
    {
        await JsRuntime.InvokeVoidAsync("setTitle", "Crypter");
        var diskMetricsResponse = await DownloadDiskMetrics();
        ServerHasDiskSpace = !diskMetricsResponse.Full;
        AllocatedServerSpace = long.Parse(diskMetricsResponse.Allocated);
        AvailableServerSpace = long.Parse(diskMetricsResponse.Available);

        ServerSpacePercentage = ((1 - (AvailableServerSpace / AllocatedServerSpace)) * 100).ToString();
    }

    public async Task<DiskMetricsResponse> DownloadDiskMetrics()
    {
        var url = $"{AppSettings.ApiBaseUrl}/metrics/disk";
        using var response = await HttpClient.GetAsync(url);

        if (!response.IsSuccessStatusCode)
        {
            // insert error handling
        }

        var content = await response.Content.ReadAsStringAsync();
        return JsonConvert.DeserializeObject<DiskMetricsResponse>(content);
    }
}