@page "/privacy-policy"

@inject IJSRuntime JsRuntime;

<div class="container my-4">
    <h1>Privacy Policy</h1>
    <h3>Effective date</h3>
    <p>May 7, 2021</p>
    <h3>Policy</h3>
    <h4>Email Communication</h4>
    <p>Crypter may collect your email address during user registration.  Users who provide their email address may receive emails regarding their Crypter account.</p>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await JsRuntime.InvokeVoidAsync("Crypter.SetPageTitle", "Crypter - Privacy Policy");
    }
}