@*
 * Copyright (C) 2022 Crypter File Transfer
 * 
 * This file is part of the Crypter file transfer project.
 * 
 * Crypter is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Crypter source code is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * You can be released from the requirements of the aforementioned license
 * by purchasing a commercial license. Buying such a license is mandatory
 * as soon as you develop commercial activities involving the Crypter source
 * code without disclosing the source code of your own applications.
 * 
 * Contact the current copyright holder to discuss commercial license options.
 *@

@page "/user/search"

@inherits SearchBase

<PageTitle>Crypter - User Search</PageTitle>

<div class="container my-4">
   <h1>Find a user</h1>
   <form>
      <div class="row">
         <div class="col-md-9">
            <div class="input-group mb-3">
               <input type="text" @bind="SearchParameters.Keyword" class="form-control" />
               <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
            </div>
         </div>
      </div>
   </form>
   <div class="row">
      @if (SearchResults != null)
      {
         @if (SearchResults.Total == 0)
         {
            <h3 class="text-center">No results found</h3>
         }
         else
         {
            @foreach (var result in SearchResults.Result)
            {
               <div class="col-md-6">
                  <div class="card my-1">
                     <div class="card-body">
                        <div class="d-flex bd-highlight mb-3">
                           <div class="me-auto p-2 bd-highlight">
                              <a class="text-decoration-none" href="/user/profile/@result.Username">
                                 <h5 class="card-title">@GetDisplayName(result.Username, result.Alias)</h5>
                              </a>
                           </div>
                           <div class="p-2 bd-highlight">
                              @if (UserContactsService.IsContact(result.Username))
                              {
                                 <button type="button" disable class="btn btn-outline-success">Added</button>
                              }
                              else
                              {
                                 <button type="button" class="btn btn-outline-dark" @onclick="async () => await AddContactAsync(result.Username)">Add Contact</button>
                              }
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            }
            if (SearchResults.Total > SearchParameters.Count)
            {
               decimal numberPages = (SearchResults.Total / SearchParameters.Count);

               <nav aria-label="User Search Results">
                  <ul class="pagination">
                     @for (int i = 0; i <= Math.Ceiling(numberPages); i++)
                     {
                        string pageUrl = "/user/search?query=" + SearchParameters.Keyword + "&page=" + (i + 1);
                        <li class="page-item page"><a class="page-link" @onclick="() => GoToPage(pageUrl)">@(i + 1)</a></li>
                     }
                  </ul>
               </nav>
            }
         }
      }
   </div>
</div>
