@page "/user/home"

@inherits UserHomeBase

<div class="container my-4">
   <div class="row">
      <UserReceivedItemsComponent @bind-Items="Received"></UserReceivedItemsComponent>
      <UserSentItemsComponent @bind-Items="Sent"></UserSentItemsComponent>
   </div>
   <div class="row justify-content-center">
      <div class="col-md-8">
         <div class="card mb-4">
            <div class="card-body">
               <h5 class="card-title">A message from the developers</h5>
               <p>
                  Thank you for signing up to use Crypter and participating in our beta program.
                  The purpose of this beta program is to discover bugs and gather real feedback from friends, family, and colleagues.
                  It also gives us time to finish adding some important features to this part of the website before we open it up to the public.
               </p>
               <p>Do not hesitate to contact us with your feedback and suggestions.  We really do want to hear from you!</p>
               <p class="float-end"> - Jack, Santiago, & Steven</p>
            </div>
         </div>
      </div>
   </div>
</div>
