@*
 * Copyright (C) 2021 Crypter File Transfer
 * 
 * This file is part of the Crypter file transfer project.
 * 
 * Crypter is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Crypter source code is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * You can be released from the requirements of the aforementioned license
 * by purchasing a commercial license. Buying such a license is mandatory
 * as soon as you develop commercial activities involving the Crypter source
 * code without disclosing the source code of your own applications.
 * 
 * Contact the current copyright holder to discuss commerical license options.
 *@

@page "/user/home"

@inherits UserHomeBase

<div class="container my-4">
   <div class="row">
      <UserReceivedItemsComponent @bind-Items="Received"></UserReceivedItemsComponent>
      <UserSentItemsComponent @bind-Items="Sent"></UserSentItemsComponent>
   </div>
   <div class="row justify-content-center">
      <div class="col-md-8">
         <div class="card mb-4">
            <div class="card-body">
               <h5 class="card-title">A message from the developers</h5>
               <p>
                  Thank you for signing up to use Crypter and participating in our beta program.
                  The purpose of this beta program is to discover bugs and gather real feedback from friends, family, and colleagues.
                  It also gives us time to finish adding some important features to this part of the website before we open it up to the public.
               </p>
               <p>Do not hesitate to contact us with your feedback and suggestions.  We really do want to hear from you!</p>
               <p class="float-end"> - Jack, Santiago, & Steven</p>
            </div>
         </div>
      </div>
   </div>
</div>
