[Unit]
Description=Crypter Web and API
After=docker.service

[Service]
Type=simple
WorkingDirectory=%h/crypter-web-container
ExecStart=/usr/bin/docker compose --profile web up -d
ExecStop=/usr/bin/docker compose --profile web down
Restart=on-failure

[Install]
WantedBy=default.target
