@*
 * Copyright (C) 2021 Crypter File Transfer
 * 
 * This file is part of the Crypter file transfer project.
 * 
 * Crypter is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Crypter source code is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * You can be released from the requirements of the aforementioned license
 * by purchasing a commercial license. Buying such a license is mandatory
 * as soon as you develop commercial activities involving the Crypter source
 * code without disclosing the source code of your own applications.
 * 
 * Contact the current copyright holder to discuss commerical license options.
 *@

<footer class="footer mt-auto py-3 bg-light">
   <div class="container d-flex justify-content-center text-center">
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-4">
               <h5>Crypter.dev</h5>
               <ul class="navbar-nav flex-column">
                  <li class="nav-item">
                     <a class="nav-link p-0 lh-lg" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link p-0 lh-lg" href="./about">About</a>
                  </li>
               </ul>
            </div>
            <div class="col-md-4">
               <h5>Legal</h5>
               <ul class="navbar-nav flex-column">
                  <li class="nav-item">
                     <a class="nav-link p-0 lh-lg" href="./privacy-policy">Privacy Policy</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link p-0 lh-lg" href="./acceptable-use-policy">Acceptable Use Policy</a>
                  </li>
               </ul>
            </div>
            <div class="col-md-4">
               <h5>Support</h5>
               <ul class="navbar-nav flex-column">
                  <li class="nav-item">
                     <a class="nav-link p-0 lh-lg" href="./feedback">Feedback</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link p-0 lh-lg" href="./donate">Donate</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="container text-center">
      &copy; 2021 Crypter Dev Team
   </div>
</footer>
