<div class="container my-4">
   <h2>Item not found</h2>
   <p>The item you are looking for is either unavailable or does not exist.</p>
   <p>Possible reasons include:</p>
   <ul>
      <li>
         The URL you were given is invalid
      </li>
      <li>
         The item was already decrypted by someone else
      </li>
      <li>
         The item automatically expired after 24 hours
      </li>
   </ul>
</div>
