@inherits MainLayoutBase

<div class="page h-100">
   <NavigationBar />
   <main role="main" class="pb-3">
      @if (AuthenticationService.User is not null)
      {
         <NavigationUser />
      }
      @Body
   </main>
   <Footer />
</div>
