@using Crypter.Web.Services
@inherits MainLayoutBase

<div class="page h-100">
   <NavigationBar />
   <main role="main" class="pb-3">
      @if (LocalStorage.HasItem(StoredObjectType.UserSession))
      {
         <NavigationUser />
      }
      @Body
   </main>
   <Footer />
</div>
