<ul class="navbar-nav ml-auto">
    <li class="nav-item mx-1">
        <a class="nav-link" href="/about">About Crypter.dev</a>
    </li>
    <!--<li class="nav-item mx-1">
        <button class="btn btn-primary">Sign Up</button>
    </li>
    <li class="nav-item mx-1">
        <button class="btn btn-secondary">Log In</button>
    </li>-->
</ul>