<ul class="nav justify-content-end">
    <li class="nav-item">
        <a href="">About Crypter</a>
    </li>
    <li class="nav-item">
        <button class="btn btn-primary">Sign Up</button>
    </li>
    <li class="nav-item">
        <button class="btn btn-secondary">Log In</button>
    </li>
</ul>

@code {

}
