<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark mb-auto">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Crypter.dev</a>
        <Navigation />
    </div>
</nav>