@*
 * Copyright (C) 2025 Crypter File Transfer
 * 
 * This file is part of the Crypter file transfer project.
 * 
 * Crypter is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * The Crypter source code is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * You can be released from the requirements of the aforementioned license
 * by purchasing a commercial license. Buying such a license is mandatory
 * as soon as you develop commercial activities involving the Crypter source
 * code without disclosing the source code of your own applications.
 * 
 * Contact the current copyright holder to discuss commercial license options.
 *@

@if (_userQuotaReached || _freeTransferQuotaReached || _currentMaximumUploadSize < _absoluteMaximumUploadSize)
{
    <div class="card mt-3">
        <div class="card-body">
            @if (_userQuotaReached)
            {
                if (_loggedIn)
                {
                    <div class="alert alert-danger mb-0" role="alert">
                        <h3>Your individual data storage quota has been reached. More space will become available as your uploads are downloaded or expired.</h3>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger mb-0" role="alert">
                        <h3>The data storage quota for anonymous users has been reached. More space will become available as other uploads are downloaded or expired.</h3>
                    </div>
                }
            }
            else if (_freeTransferQuotaReached)
            {
                <div class="alert alert-danger mb-0" role="alert">
                    <h3>The data storage quota for free users has been reached. More space will become available as other uploads are downloaded or expired.</h3>
                </div>
            }
            else if (_currentMaximumUploadSize < _absoluteMaximumUploadSize)
            {
                <div class="alert alert-warning mb-0" role="alert">
                    <h3>One or more data storage quotas are close to being reached. The maximum upload size had been reduced to @(ByteSize.FromBytes(_currentMaximumUploadSize).ToString())</h3>
                </div>
            }
            else
            {
                <div class="alert alert-warning mb-0" role="alert">
                    <h3>Why am I here?</h3>
                </div>
            }
        </div>
    </div>
}
