#encrypt {
    margin: 40px auto;
    max-width: 700px;

    .tab-content {
        border: 1px solid #dee2e6;
        border-top: none;
        border-radius: 0 0 10px 10px;
        padding: 32px;
    }
}
