.file-upload, .message-upload {
    max-width: 600px;
    margin: auto;
    text-align: left;

    .dropzone {
        border-width: 4px;
        border-style: dotted;
        margin: auto auto 24px auto;
        text-align: center;
        position: relative;
        transition: all 200ms ease;

        &.dropzone-drag {
            background-color: rgba(27,110,194, 0.15);
            border-color: #1b6ec2;
            transition: all 200ms ease;

            .dz-text {
                color: #1b6ec2;
            }
        }

        &:hover {
            .dz-text {
                color: #1b6ec2;
                transition: color 200ms ease;
            }
        }
    }

    .dz-text {
        position: absolute;
        padding: 20px;
        left: 0;
        right: 0;
        transition: color 200ms ease;
    }

    #fileInput {
        padding: 5rem 9rem 2rem;
        opacity: 0;
        z-index: 10;

        &:hover {
            cursor: pointer;
        }
    }
}
