html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.grt {
  font-family: "Recursive", sans-serif;
  font-size: 16px;
  line-height: 27px; }
  .grt h1 {
    font-size: 33px;
    line-height: 52px;
    margin-bottom: 27px; }
  .grt .title {
    font-size: 42px;
    line-height: 65px;
    margin-bottom: 27px; }
  .grt h2 {
    font-size: 26px;
    line-height: 42px;
    margin-top: 44px;
    margin-bottom: 17px; }
  .grt h3 {
    font-size: 20px;
    line-height: 33px;
    margin-top: 27px;
    margin-bottom: 11px; }
  .grt h4 {
    font-size: 16px;
    line-height: 27px;
    font-weight: bold;
    margin-bottom: 7px; }
  .grt blockquote {
    padding-left: 17px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 0 0 0 7px; }
  .grt sub, .grt sup {
    padding: 0 1px; }
  .grt code, .grt pre, .grt kbd {
    font-size: 15px; }
  .grt code {
    background-color: rgba(0, 0, 0, 0.08);
    padding: 3px 4px;
    border-radius: 7px;
    margin: 0 1px; }
  .grt pre {
    padding: 11px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 0 0 0 7px; }
  .grt kbd {
    background-color: #fff;
    padding: 3px 4px;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.45);
    margin: 0 1px; }
  .grt .alert, .grt .note, .grt .box {
    padding: 17px; }
  .grt .footnotes {
    font-size: 13px;
    line-height: 23px;
    padding-top: 17px;
    border-top: 1px dotted rgba(0, 0, 0, 0.15); }
  .grt .footnotes p {
    margin-bottom: 17px; }
  .grt ul ul, .grt ul ol, .grt ol ul, .grt ol ol, .grt blockquote.right p, .grt blockquote.left p, .grt .alert :last-child, .grt .note :last-child, .grt .box :last-child, .grt .footnotes :last-child {
    margin-bottom: 0; }

#encrypt {
  margin: 40px auto; }

.file-upload, .message-upload {
  max-width: 600px;
  margin: auto;
  text-align: left; }
  .file-upload .dropzone, .message-upload .dropzone {
    border: 5px dashed #000000;
    margin: auto auto 24px auto;
    text-align: center;
    position: relative; }
  .file-upload .dz-text, .message-upload .dz-text {
    position: absolute;
    padding: 20px;
    left: 0;
    right: 0;
    z-index: -1; }
  .file-upload .passphrase, .message-upload .passphrase {
    margin-bottom: 24px; }
  .file-upload label, .message-upload label {
    display: block; }
  .file-upload input[type="text"], .message-upload input[type="text"] {
    margin-right: 10px;
    width: 500px; }
  .file-upload #fileInput, .message-upload #fileInput {
    padding: 5rem 9rem 2rem;
    z-index: 10; }
