@*
   * Copyright (C) 2023 Crypter File Transfer
   *
   * This file is part of the Crypter file transfer project.
   *
   * Crypter is free software: you can redistribute it and/or modify
   * it under the terms of the GNU Affero General Public License as published by
   * the Free Software Foundation, either version 3 of the License, or
   * (at your option) any later version.
   *
   * The Crypter source code is distributed in the hope that it will be useful,
   * but WITHOUT ANY WARRANTY; without even the implied warranty of
   * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   * GNU Affero General Public License for more details.
   *
   * You should have received a copy of the GNU Affero General Public License
   * along with this program.  If not, see <http://www.gnu.org/licenses/>.
   *
   * You can be released from the requirements of the aforementioned license
   * by purchasing a commercial license. Buying such a license is mandatory
   * as soon as you develop commercial activities involving the Crypter source
   * code without disclosing the source code of your own applications.
   *
   * Contact the current copyright holder to discuss commercial license options.
*@

@inherits TabbedUploadTransferComponentBase

<div class="container" id="encrypt">
   <div class="card">
      <div class="card-header">
         <ul class="nav nav-tabs card-header-tabs" id="encryptionTab" role="tablist">
            <li class="nav-item" role="presentation">
               <button class="nav-link active" id="encryption-tab1" data-bs-toggle="tab" data-bs-target="#file-tab" type="button" role="tab" aria-controls="file" aria-selected="true">Encrypt a file</button>
            </li>
            <li class="nav-item" role="presentation">
               <button class="nav-link" id="encryption-tab2" data-bs-toggle="tab" data-bs-target="#message-tab" type="button" role="tab" aria-controls="message" aria-selected="false">Encrypt a message</button>
            </li>
            <li class="nav-item ms-auto" role="presentation">
               <button class="nav-link" id="encryption-tab3" data-bs-toggle="tab" data-bs-target="#settings-tab" type="button" role="tab" aria-controls="settings" aria-selected="false">
                  <i class="bi bi-gear-fill"></i>
               </button>
            </li>
         </ul>
      </div>
      <div class="card-body">
         <div class="tab-content" id="encryptionTabContent">
            <div class="tab-pane fade show active" id="file-tab" role="tabpanel" aria-labelledby="file-tab">
               <h2 class="card-title mt-0">Upload a file</h2>
               <UploadFileTransfer ExpirationHours=ExpirationHours />
            </div>

            <div class="tab-pane fade" id="message-tab" role="tabpanel" aria-labelledby="message-tab">
               <h2 class="card-title mt-0 mb-0">Upload a message</h2>
               <UploadMessageTransfer ExpirationHours=ExpirationHours />
            </div>

            <div class="tab-pane fade" id="settings-tab" role="tabpanel" aria-labelledby="settings-tab">
               <h2 class="card-title mt-0 mb-0">Configuration</h2>
               <TransferSettings @bind-ExpirationHours=ExpirationHours />
            </div>
         </div>
      </div>
   </div>
   <ServerDiskSpaceComponent></ServerDiskSpaceComponent>
</div>
