@inherits UploadSettingsTransferBase


<div class="upload-settings">
    <div class="row">
        <div class="col-4 p-0 my-3">
              <label>
                  Expiration in hours
              </label>
             <input type="number" value="@requestedExpirationInHours" @oninput="OnRequestedExpirationChange" class="form-control" id="requestedExpirationInHour" name="requestedExpirationInHours" placeholder="Expiration in hours">
         </div>
    </div>
</div>

@code {


}