@inherits SpinnerModalBase

<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h3>@Subject</h3>
         </div>
         <div class="modal-body justify-content-center">
            <p class="word-wrap">@Message</p>
            <div class="text-center">
               <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
               </div>
            </div>
         </div>
         @if (ShowPrimaryButton)
         {
            <div class="modal-footer">
               <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="() => CloseAsync()">@PrimaryButtonText</button>
            </div>
         }
      </div>
   </div>
</div>

@if (ShowBackdrop)
{
   <div class="modal-backdrop fade show"></div>
}
