{$CADDY_DOMAIN} {
	{$CADDY_OPTIONS}

	log {
		output file /var/log/caddy
		format console
	}

	handle /api/* {
		request_body {
			max_size {$CADDY_MAX_REQUEST_BODY}
		}

		reverse_proxy {$CRYPTER_API_BASE}
	}

	handle /.well-known/* {
		request_body {
			max_size {$CADDY_MAX_REQUEST_BODY}
		}

		reverse_proxy {$CRYPTER_API_BASE}
	}

    handle /serviceWorker {
        root * /srv
        rewrite * js/dist/serviceWorker/serviceWorker.js
    
        file_server {
            precompressed br gzip
        }
        
        header {
            Service-Worker-Allowed "/"
            Service-Worker "script"
        }
    }
    
    handle /serviceWorker.noOp {
        root * /srv
        rewrite * js/dist/serviceWorker.noOp/serviceWorker.noOp.js
    
        file_server {
            precompressed br gzip
        }
        
        header {
            Service-Worker-Allowed "/"
            Service-Worker "script"
        }
    }

	handle {
		root * /srv
		try_files {path} /index.html

		header ?Content-Type "application/octet-stream"

		file_server {
			precompressed br gzip
		}
	}
}

{$CADDY_REDIRECT_TO_WWW} {
	redir https://www.{host}{uri} permanent
}