[Unit]
Description=Crypter.Tasks runner

[Service]
WorkingDirectory=/var/www/Crypter.Tasks
ExecStart=/usr/bin/dotnet /var/www/Crypter.Tasks/Crypter.Tasks.dll
Restart=always
# Restart service after 60 seconds if the dotnet service crashes:
RestartSec=60
KillSignal=SIGINT
SyslogIdentifier=dotnet-example
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
