@*
 * Copyright (C) 2023 Crypter File Transfer
 *
 * This file is part of the Crypter file transfer project.
 *
 * Crypter is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * The Crypter source code is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * You can be released from the requirements of the aforementioned license
 * by purchasing a commercial license. Buying such a license is mandatory
 * as soon as you develop commercial activities involving the Crypter source
 * code without disclosing the source code of your own applications.
 *
 * Contact the current copyright holder to discuss commercial license options.
 *@

<h3>Recovery</h3>
<div class="copiedTooltip mb-3">
    @if (string.IsNullOrEmpty(_recoveryKey))
    {
        <button type="submit" class="btn btn-primary" @onclick:preventDefault @onclick="() => _passwordModal.Open()">Generate Recovery Key</button>
    }
    else
    {
        <label for="recoveryKey" class="form-label">Recovery Key</label>
        <div class="input-group mb-3">
            <input class="form-control" value="@_recoveryKey" type="text" id="recoveryKey" readonly/>
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button" @onclick="CopyRecoveryKeyToClipboardAsync">Copy</button>
            </div>
        </div>

        <span id="recoveryKeyCopyTooltip" class="copiedToolTip toolTipText">Copied</span>
    }
</div>

<h3>Transfer</h3>
<div class="mb-3">
    <label for="privateKey" class="form-label">Private Key</label>
    <textarea @bind="_privateKey" class="form-control" id="privateKey" disabled></textarea>
</div>

<PasswordModal @ref="_passwordModal"/>
