name: Build Crypter.API image

on:
  pull_request:
    branches: [ main, stable ]

jobs:
  build-web:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Crypter.API/Dockerfile
          push: false
